tr:hover {
    background-color: #2ecd78;
    transition: background-color 0.3s ease;
}
tr.no-hover:hover {
    background-color: #5befff;
    transition: none;
}



input[type="submit"]:hover {
    background-color: #dff43f; /* Yeni arkaplan rengi hover durumu için */
}