html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#result {
  display: none; /* Başlangıçta formu gizle */
}

.resultBox {
  padding:10px;
  background-color: rgba(128, 255, 0, 0.311); /* Yeşil renk */
  display: inline-block; /* Yatay hizalama için */
  border-radius: 8px; /* Köşeleri yuvarlamak için */
  margin-bottom: 100px; /* Alt boşluk */
  color: green;
  text-align: center;
  bottom: 10px; /* Sayfanın alt kenarından 10px yukarıda */
  left: 50%; /* Sayfanın ortasında */

  width: 200px; /* Genişlik */
  height: 100px;
}
#hidden input,
#hidden button {
  margin-bottom: 10px; /* Her giriş alanı ve buton arasına 10px boşluk ekler */
}